.canvas-wrapper {
  /* position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%; */
}

.buttons {
  text-align: center;
  width: 600px;
}
button {
  border: none;
  background-color: #0095dd;
  color: #fff;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 8px;
  font-weight: bold;
  margin-right: 30px;
  border-radius: 8%;
  width: 60px;
}

#snake-board {
  border: 1px solid #000000;
}
